@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.App {
  text-align: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
}

.App-header {
  background-color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.pageLinks {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
};

.navHeader {
  margin-bottom: 1%;
  margin-left: 15px;
}

.Login {
  display: block;
  margin-bottom: 3%;
}

li {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

h1 {
  font-size: 70px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
